# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
.env
.pytest_cache/
*.sqlite
*.db
instance/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
build/
dist/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# OS
Thumbs.db
